{% extends 'base.html' %}
{% block head %}
    <title>Activities</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Start Activities</h2>
    <p class="caption">Start activities instantly.</p>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Activity property</span>
                    <form action="{{ url_for('start_activities') }}" method="post" name="start_activity">
                        <div class="input-field validate col s12">
                            <i class="material-icons prefix">games</i>
                            <select>
                                <option value="" disabled selected>Choose a game</option>
                                <option value="gcld">GCLD</option>
                                <option value="nhly">NHLY</option>
                            </select>
                            <label>game</label>
                        </div>
                        <div class="input-field validate col s12">
                            <i class="material-icons prefix">subject</i>
                            <select>
                                    <option value="7.2">7.2</option>
                                    <option value="7.3">7.3</option>
                                    <option value="7.4">7.4</option>
                                    <option value="8.4">8.4</option>
                                    <option value="8.5">8.5</option>
                                    <option value="8.6">8.6</option>
                                    <option value="8.7">8.7</option>
                                    <option value="8.8">8.8</option>
                                    <option value="8.9">8.9</option>
                                    <option value="9.1">9.1</option>
                                    <option value="9.2">9.2</option>
                            </select>
                            <label>version</label>
                        </div>
                        <div class="input-field validate col s12">
                            <i class="material-icons prefix">turned_in_not</i>
                            <input class="validate" type="text" name="activity_id" length="100" required>
                            <label for="activity_id">activity id</label>
                        </div>
                        <div class="input-field validate col s12">
                            <i class="material-icons prefix">access_time</i>
                            <input class="validate" type="text" name="period" length="3" required>
                            <label for="period">period (hour)</label>
                        </div>
                        <a class="waves-effect waves-light btn" type="submit" onclick="start_activity.submit();">
                            submit<i class="material-icons right">send</i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('select').material_select();
            $('input, textarea').characterCounter();
        });
    </script>
{% endblock %}