{% extends 'base.html' %}

{% block head %}
    <title>Output</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Execute SQL</h2>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"></span>
                        <div></div>
                        <form action="{{ url_for('execute') }}" method="post" name="execute" id="execute">
                            <div class="input-field validate col s12">
                                <i class="material-icons prefix">dns</i>
                                <input class="validate" type="text" name="database" length="50" placeholder="database name" required>
                                <label for="database">database</label>
                            </div>
                            <div class="input-field validate col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea form="execute" id="textarea_sql" name="sql" rows="3" class="materialize-textarea" length="1000" placeholder="SQL" required></textarea>
                                <label for="sql">SQL</label>
                            </div>
                            <a class="waves-effect waves-light btn" type="submit" onclick="execute.submit();">
                                submit<i class="material-icons right">send</i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('input, textarea#textarea_sql').characterCounter();
        });
        $('#textarea_sql').trigger('autoresize');
    </script>
{% endblock %}