{% extends 'base.html' %}

{% block head %}
    <title>Output</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Output</h2>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        {% if url %}
                            <span class="card-title">Properties</span>
                            <p><a class="btn waves-effect waves-green" href="{{ url }}">Download</a></p>
                        {% else %}
                            <span class="card-title">Log</span>
                            <p>...</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}