{% extends 'base.html' %}
{% block head %}
    <title>Websites</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content #90caf9 blue lighten-3">
                    <div class="card-title">怒火燎原</div>
                    <p class="caption">怒火北美、法语、德语三个版本游戏详情</p>
                    <ul class="collapsible popout collapsible-accordination" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>7.2</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="http://10.5.201.60/nhly_en_7.2/Main.html" class="collection-item btn-flat waves-effect">北美
                                        <span class="badge">socket: 8272</span><span class="badge">tcp: 8302</span>
                                    </a>
                                    <a href="http://10.5.201.60/nhly_fr_7.2/Main.html" class="collection-item btn-flat waves-effect">法语
                                        <span class="badge">socket: 8772</span><span class="badge">tcp: 8802</span>
                                    </a>
                                    <a href="http://10.5.201.60/nhly_de_7.2/Main.html" class="collection-item btn-flat waves-green">德语
                                        <span class="badge">socket: 8372</span><span class="badge">tcp: 9302</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>7.3</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="http://10.5.201.60/nhly_en_7.3/Main.html" class="collection-item">北美</a>
                                    <a href="http://10.5.201.60/nhly_fr_7.3/Main.html" class="collection-item">法语</a>
                                    <a href="http://10.5.201.60/nhly_de_7.3/Main.html" class="collection-item">德语</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>7.4</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="http://10.5.201.60/nhly_en_7.4/Main.html" class="collection-item">北美</a>
                                    <a href="http://10.5.201.60/nhly_fr_7.4/Main.html" class="collection-item">法语</a>
                                    <a href="http://10.5.201.60/nhly_de_7.4/Main.html" class="collection-item">德语</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>7.5</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="http://10.5.201.60/nhly_en_7.5/Main.html" class="collection-item">北美</a>
                                    <a href="http://10.5.201.60/nhly_fr_7.5/Main.html" class="collection-item">法语</a>
                                    <a href="http://10.5.201.60/nhly_de_7.5/Main.html" class="collection-item">德语</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content #80deea cyan lighten-3">
                    <span class="card-title">攻城掠地</span>
                    <p class="caption">攻城国内、越南、泰语、日本四个版本游戏详情</p>
                    <ul class="collapsible popout collapsible-accordination" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>8.4</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>8.5</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>8.6</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>8.8</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>8.9</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>9.1</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>9.2</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header btn-flat"><i class="material-icons">label_outline</i>9.3</div>
                            <div class="collapsible-body">
                                <div class="collection">
                                    <a href="" class="collection-item btn-flat">国内</a>
                                    <a href="" class="collection-item btn-flat">越南</a>
                                    <a href="" class="collection-item btn-flat">泰语</a>
                                    <a href="" class="collection-item btn-flat">日本</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}